[submodule "submodule/micropython"]
	path = submodule/micropython
	url = https://github.com/micropython/micropython.git
[submodule "submodule/esp-idf"]
	path = submodule/esp-idf
	url = https://github.com/espressif/esp-idf.git
	branch = release/v4.4
